<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.our.ourmbti.dao.board.face.BoardDao">

	<select id="selectBoardListCount" parameterType="hashmap" resultType="int">
		select count(*) from m_board where b_type like '%' || #{category} || '%'
	</select>

	<select id="selectBoardList" parameterType="hashmap" resultType="hashmap">
		select * from
    		(select rownum rnum, b1.* from
        		 (select b_no, b.u_no, b_title, b_content, b_write_date, b_update_date, b_hit, b_report, b_likes, b_type, u_nick 
        		 from m_board b, m_user u 
        		 where b.u_no = u.u_no and b.b_type like '%' || #{category} || '%' order by b_no desc) b1) b2
		where rnum between #{paging.startNo} and #{paging.endNo}
	</select>

</mapper>