<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.our.ourmbti.dao.board.face.BoardDao">

	<select id="selectBoardListCount" parameterType="hashmap" resultType="int">
		select count(*) from m_board where b_type like '%' || #{category} || '%'
	</select>

	<select id="selectBoardList" parameterType="hashmap" resultType="hashmap">
		select * from
    		(select rownum rnum, b1.* from
        		 (select b_no, b.u_no, b_title, b_write_date, b_update_date, b_hit, b_report, b_likes, b_type, u_nick 
        		 from m_board b, m_user u 
        		 where b.u_no = u.u_no and b.b_type like '%' || #{category} || '%' order by b_no desc) b1) b2
		where rnum between #{paging.startNo} and #{paging.endNo}
	</select>

	<select id="selectBoardDetail" parameterType="int" resultType="hashmap">
		select u_nick, b1.* from m_user m, (select * from m_board where b_no = #{bNo}) b1
		where m.u_no = b1.u_no
	</select>
	
	<update id="updateHit" parameterType="int">
		update m_board set b_hit = b_hit + 1 where b_no = #{bNo}
	</update>
	
	<insert id="insertBoardInfo" parameterType="Board">
		insert into m_board(b_no, u_no, b_title, b_content, b_type) values(m_board_seq.nextval, #{uNo}, #{bTitle}, #{bContent}, #{bType})
	</insert>
	
	<select id="lastBoardNo" resultType="int">
		select max(b_no) from m_board
	</select>
	
	<insert id="insertBoardImgInfo" parameterType="BoardImg">
		insert into m_board_img(bi_no, b_no, bi_origin_filename, bi_stored_filename, bi_size, bi_content_type) 
		values(m_board_img_seq.nextval, #{bNo}, #{biOriginFilename}, #{biStoredFilename}, #{biSize}, #{biContentType})
	</insert>

	<select id="selectBoardImgInfo" parameterType="int" resultType="BoardImg">
		select * from m_board_img where b_no = #{bNo}
	</select>
	
	<select id="selectUpdateBoardDetail" parameterType="int" resultType="Board">
		select b_no, b_title, b_content, u_no from m_board where b_no = #{bNo}
	</select>
	
	<update id="updateBoardInfo" parameterType="hashmap">
		update m_board set b_title = #{title}, b_content = #{content} where b_no = #{bNo}
	</update>

</mapper>